@{
    var pageName = ViewData["Title"];
    var Gaia = ViewBag.chkGaia;
    var subpage = ViewData["subpage"];
}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

    <li class="nav-header">@*Main Menu*@</li>

    <li class="nav-item">
        @if (pageName.ToString() == "General")
        {
            <a href="@Url.Action("HomePage", "Home")" class="nav-link active">
                <i class="nav-icon fas fa-laptop" style="color:white"></i>
                <p>
                    General
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("HomePage", "Home")" class="nav-link" id="General">
                <i class="nav-icon fas fa-laptop" style="color:white"></i>
                <p>
                    General
                </p>
            </a>
        }
    </li>
    <li class="nav-item">
        @if (pageName.ToString() == "DeviceConfig")
        {
            <a href="@Url.Action("DeviceConfig", "DeviceConfig")" class="nav-link active" id="DeviceConfig">
                <i class="nav-icon fas fa-microchip" style="color:white"></i>
                <p>
                    Devices Configuration
                </p>
            </a>

            @* <script src="~/bower_components/jquery/jquery.min.js"></script>
            <script>
                $(function () {
                    $( ".nav-link" ).click(function() {
                        var pageId = this.id;
                        document.getElementById(pageId).removeAttribute("href"); 
                        document.getElementById(pageId).style.cursor = "pointer"; 
                        
                        $.bsAlert.confirm("Do you want to go another page ?", function () {
                            if (pageId == "General"){
                                location.href = "/LavenderConfig/Home/HomePage";
                            }
                            if (pageId == "DeviceConfig"){
                                location.href = "/LavenderConfig/DeviceConfig/DeviceConfig";
                            }
                            if (pageId == "Grade"){
                                location.href = "/LavenderConfig/Grade/Grade";
                            }
                            if (pageId == "Tank"){
                                location.href = "/LavenderConfig/Tank/Tank";
                            }
                            if (pageId == "Pump"){
                                location.href = "/LavenderConfig/Pump/Pump";
                            }
                            if (pageId == "Report"){
                                location.href = "/LavenderConfig/Report/Report";
                            }
                            if (pageId == "SystemStatus"){
                                location.href = "/LavenderConfig/SystemStatus/SystemStatus";
                            }
                            if (pageId == "NetworkSetting"){
                                location.href = "/LavenderConfig/NetworkSetting/NetworkSetting";
                            }
                            if (pageId == "CloudApiSetting"){
                                location.href = "/LavenderConfig/CloudApiSetting/CloudApiSetting";
                            }
                            if (pageId == "UserManagement"){
                                location.href = "/LavenderConfig/UserManagement/UserManagement";
                            }
                            if (pageId == "StationMS"){
                                location.href = "/LavenderConfig/StationOperation/StationOperation?subpage=MS";
                            }
                            if (pageId == "StationPO"){
                                location.href = "/LavenderConfig/StationOperation/StationOperation?subpage=PO";
                            }
                        });
                    });
                });
            </script> *@
        }
        else
        {
            <a href="@Url.Action("DeviceConfig", "DeviceConfig")" class="nav-link">
                <i class="nav-icon fas fa-microchip" style="color:white"></i>
                <p>
                    Devices Configuration
                </p>
            </a>
        }
    </li>
    @*@if (Gaia == "true" || Gaia == "True")
    {
        <li class="nav-item">
            @if (pageName.ToString() == "GaiaConfig")
            {
                <a href="@Url.Action("GaiaConfig", "GaiaConfig")" class="nav-link active">
                    <img src="~/dist/img/logo-white-256.png" alt="GAIA Logo" class="nav-icon">
                    <p>
                        GAIA Configuration
                    </p>
                </a>
            }
            else
            {
                <a href="@Url.Action("GaiaConfig", "GaiaConfig")" class="nav-link">
                    <img src="~/dist/img/logo-white-256.png" alt="GAIA Logo" class="nav-icon">
                    <p>
                        GAIA Configuration
                    </p>
                </a>
            }
        </li>
    }
    else
    {

    }*@
    <li class="nav-item">
        @if (pageName.ToString() == "Grade")
        {
            <a href="@Url.Action("Grade", "Grade")" class="nav-link active">
                <i class="nav-icon fas fa-list-ul" style="color:white"></i>
                <p>
                    Grade
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("Grade", "Grade")" class="nav-link" id="Grade">
                <i class="nav-icon fas fa-list-ul" style="color:white"></i>
                <p>
                    Grade
                </p>
            </a>
        }
    </li>
    <li class="nav-item">
        @if (pageName.ToString() == "Tank")
        {
            <a href="@Url.Action("Tank", "Tank")" class="nav-link active">
                <i class="nav-icon fas fa-database" style="color:white"></i>
                <p>
                    Tank
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("Tank", "Tank")" class="nav-link" id="Tank">
                <i class="nav-icon fas fa-database" style="color:white"></i>
                <p>
                    Tank
                </p>
            </a>
        }
    </li>
    <li class="nav-item">
        @if (pageName.ToString() == "Pump")
        {
            <a href="@Url.Action("Pump", "Pump")" class="nav-link active">
                <i class="nav-icon fas fa-gas-pump" style="color:white"></i>
                <p>
                    Pump
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("Pump", "Pump")" class="nav-link" id="Pump">
                <i class="nav-icon fas fa-gas-pump" style="color:white"></i>
                <p>
                    Pump
                </p>
            </a>
        }
    </li>
    <li class="nav-item">
        @if (pageName.ToString() == "Report")
        {
            <a href="@Url.Action("Report", "Report", new { ddlDeliveryType = "", ddlPump = "", ddlGrade = "", STDate = "", EDDate = "" })" class="nav-link active">
                <i class="nav-icon far fa-chart-bar" style="color:white"></i>
                <p>
                    Report
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("Report", "Report", new { ddlDeliveryType = "", ddlPump = "", ddlGrade = "", STDate = "", EDDate = "" })" class="nav-link" id="Report">
                <i class="nav-icon far fa-chart-bar" style="color:white"></i>
                <p>
                    Report
                </p>
            </a>
        }
    </li>
    <li class="nav-item">
        @if (pageName.ToString() == "SystemStatus")
        {
            <a href="@Url.Action("SystemStatus", "SystemStatus")" class="nav-link active">
                <i class="nav-icon fas fa-thermometer-three-quarters" style="color:white"></i>
                <p>
                    System Status
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("SystemStatus", "SystemStatus")" class="nav-link" id="SystemStatus">
                <i class="nav-icon fas fa-thermometer-three-quarters" style="color:white"></i>
                <p>
                    System Status
                </p>
            </a>
        }
    </li>

    @*<li class="nav-item">
        @if (pageName.ToString() == "Manual")
        {
            <a href="@Url.Action("Manual", "Manual")" class="nav-link active">
                <i class="nav-icon fas fa-file" style="color:white"></i>
                <p>
                    Manual
                </p>
            </a>
        }
        else
        {
            <a href="@Url.Action("Manual", "Manual")" class="nav-link">
                <i class="nav-icon fas fa-file" style="color:white"></i>
                <p>
                    Manual
                </p>
            </a>
        }
    </li>*@

    @if (ViewBag.userrole == "admin")
    {
        <li class="nav-item">
            @if (pageName.ToString() == "NetworkSetting")
            {
                <a href="@Url.Action("NetworkSetting", "NetworkSetting")" class="nav-link active">
                    <i class="nav-icon fas fa-network-wired" style="color:white"></i>
                    <p>
                        Network Setting
                    </p>
                </a>
            }
            else
            {
                <a href="@Url.Action("NetworkSetting", "NetworkSetting")" class="nav-link" id="NetworkSetting">
                    <i class="nav-icon fas fa-network-wired" style="color:white"></i>
                    <p>
                        Network Setting
                    </p>
                </a>
            }
        </li>

        @if(ViewBag.userdepartment == "ATA/A"){
            <li class="nav-item">
                @if (pageName.ToString() == "CloudApiSetting")
                {
                    <a href="@Url.Action("CloudApiSetting", "CloudApiSetting")" class="nav-link active">
                        <i class="nav-icon fas fa-cloud" style="color:white"></i>
                        <p>
                            Cloud API Setting
                        </p>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("CloudApiSetting", "CloudApiSetting")" class="nav-link" id="CloudApiSetting">
                        <i class="nav-icon fas fa-cloud" style="color:white"></i>
                        <p>
                            Cloud API Setting
                        </p>
                    </a>
                }
            </li>
            <li class="nav-item">
                @if (pageName.ToString() == "UserManagement")
                {
                    <a href="@Url.Action("UserManagement", "UserManagement")" class="nav-link active">
                        <i class="nav-icon fas fa-user-cog" style="color:white"></i>
                        <p>
                            User Management
                        </p>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("UserManagement", "UserManagement")" class="nav-link" id="UserManagement">
                        <i class="nav-icon fas fa-user-cog" style="color:white"></i>
                        <p>
                            User Management
                        </p>
                    </a>
                }
            </li>
        }
    }

    @if (ViewBag.userrole == "admin" || ViewBag.userrole == "guest")
    {
        @if (pageName.ToString() == "StationOperation")
        {
            <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        Station Operation
                        <i class="right fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        @if (subpage.ToString() == "MS")
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MS" })" class="nav-link active">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-toolbox nav-icon"></i>
                                <p>Manage Services</p>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MS" })" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-toolbox nav-icon"></i>
                                <p>Manage Services</p>
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (subpage.ToString() == "MSAPI")
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MSAPI" })" class="nav-link active">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-sliders-h nav-icon"></i>
                                <p>Manage Services API</p>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MSAPI" })" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-sliders-h nav-icon"></i>
                                <p>Manage Services API</p>
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (subpage.ToString() == "PO")
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "PO" })" class="nav-link active">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-tools nav-icon"></i>
                                <p>Pump Operation</p>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "PO" })" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-tools nav-icon"></i>
                                <p>Pump Operation</p>
                            </a>
                        }
                    </li>
                </ul>
            </li>
        }
        else 
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        Station Operation
                        <i class="right fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MS" })" class="nav-link"  id="StationMS">
                            &nbsp;&nbsp;&nbsp;<i class="fas fa-toolbox nav-icon"></i>
                            <p>Manage Services</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "MSAPI" })" class="nav-link"  id="StationMSAPI">
                            &nbsp;&nbsp;&nbsp;<i class="fas fa-sliders-h nav-icon"></i>
                            <p>Manage Services API</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("StationOperation", "StationOperation", new { subpage = "PO" })" class="nav-link"  id="StationPO">
                            &nbsp;&nbsp;&nbsp;<i class="fas fa-tools nav-icon"></i>
                            <p>Pump Operation</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
    }

    @if (ViewBag.userrole == "admin")
    {
        <li class="nav-item">
            @if (pageName.ToString() == "HardwareOperation")
            {
                <a href="@Url.Action("HardwareOperation", "HardwareOperation")" class="nav-link active">
                    <i class="nav-icon fas fa-screwdriver" style="color:white"></i>
                    <p>
                        Hardware Operation
                    </p>
                </a>
            }
            else
            {
                <a href="@Url.Action("HardwareOperation", "HardwareOperation")" class="nav-link" id="HardwareOperation">
                    <i class="nav-icon fas fa-screwdriver" style="color:white"></i>
                    <p>
                        Hardware Operation
                    </p>
                </a>
            }
        </li>
    }


    @if (ViewBag.userrole == "admin" && ViewBag.userdepartment == "ATA/A")
    {
        <li class="nav-item">
            @if (pageName.ToString() == "InterfaceConfig")
            {
                <a href="@Url.Action("InterfaceConfig", "InterfaceConfig")" class="nav-link active">
                    <i class="nav-icon bi bi-pci-card" style="color:white"></i>
                    <p>
                        Interface Configuration
                    </p>
                </a>
            }
            else
            {
                <a href="@Url.Action("InterfaceConfig", "InterfaceConfig")" class="nav-link" id="InterfaceConfig">
                    <i class="nav-icon bi bi-pci-card" style="color:white"></i>
                    <p>
                        Interface Configuration
                    </p>
                </a>
            }
        </li>
    }
</ul>