@model LavenderConfig.Models.Login;

@{
    ViewData["Title"] = "UserManagement";
    ViewData["SubTitle"] = "Change Password";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Change Password
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("HomePage", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("UserManagement", "UserManagement")">User Management</a></li>
                    <li class="breadcrumb-item active" style="text-decoration-line: underline; text-decoration-style: double;">@ViewData["SubTitle"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content container-fluid">
        @using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "new-password" }))
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-primary">
                            @*<div class="card-header" style="background-color: #0f2b57;">*@
                                <!--<h3 class="card-title">Form</h3>-->
                            @*</div>*@
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form">
                                    <br>
                                    @Html.HiddenFor(x => x.user_id, new { id = "txtUserID" })
                                    @Html.HiddenFor(x => x.password, new { id = "txtPassword" })
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.user_name, "Username: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.user_name, new { id = "txtUsername", required = "required", placeholder = "User Name", @class = "form-control", disabled = "disabled", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <br>
                                    @*<div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.password, "Old Password: ")</div>
                                        <div class="col-md-2">
                                            <div class="login-21">
                                                <div class="login-inner-form">
                                                    <div class="form-group form-box">
                                                        @Html.TextBox("txtoldPassword", "", new { id = "txtoldPassword", required = "required", autofocus = "", placeholder = "Old Password", @class = "form-control", type = "password" })
                                                        <a onclick="showOPassW();"><i class="flaticon-password"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>*@
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.password, "New Password: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            <div class="login-21">
                                                <div class="login-inner-form">
                                                    <div class="form-group form-box">
                                                        @Html.TextBox("txtnewPassword", "", new { id = "txtnewPassword", required = "required", placeholder = "New Password", @class = "form-control", type = "password", autocomplete = "new-password" })
                                                        <a onclick="showNPassW();"><i id="inew" class="fas fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.password, "Confirm Password: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            <div class="login-21">
                                                <div class="login-inner-form">
                                                    <div class="form-group form-box">
                                                        @Html.TextBox("txtconfirmPassword", "", new { id = "txtconfirmPassword", required = "required", placeholder = "Confirm Password", @class = "form-control", type = "password", autocomplete = "new-password" })
                                                        <a onclick="showCPassW();"><i id="iconfirm" class="fas fa-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2" align="center">
                                            <button type="button" class="btn btn-block btn-success btn-sm" name="submitButton" value="ChangePassword" onClick="confirmUpdate()">Save</button>
                                        </div>
                                        <div class="col-md-2">
                                            @Html.ActionLink("Cancel", "UserManagement", "UserManagement", null, new { @class = "btn btn-block btn-outline-primary btn-sm" })
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        }
        @*<div class="col-sm-2">
            @Html.ActionLink("Cancel", "UserManagement", "UserManagement", null, new { @class = "btn btn-block btn-outline-primary" })
        </div>
        <br>*@
    </div>
    <!-- /.divData -->
</section>


<script type="text/javascript">

    function confirmUpdate() {
        $.bsAlert.confirm("Do you want to change password ?", function () {
            compareAssign();
        });
    }

    function compareAssign() {

        var newpass = document.getElementById("txtnewPassword").value;
        var conpass = document.getElementById("txtconfirmPassword").value;

        if (newpass == null || newpass == "")
        {
            $.bsAlert.alert("Please fill New Password.");
            return false;
        }
        else
        {

        }

        if (conpass == null || conpass == "") {
            $.bsAlert.alert("Please fill Confirm Password.");
            return false;
        }
        else
        {

        }

        if (newpass == conpass)
        {
            var stringArray = new Array();
            stringArray[0] = document.getElementById("txtUserID").value;
            stringArray[1] = document.getElementById("txtPassword").value;
            
            stringArray[2] = newpass;

            var postData = { values: stringArray };

            $.ajax({
                type: "POST",
                url: "../../UserManagement/ChangePassword",
                data: postData,
                success: function (data) {
                    if (data.status == true) {
                        //alert("Change Password Successful !");
                        $.bsAlert.alert("Change Password Successful !");
                        window.location.href = '@Url.Action("UserManagement", "UserManagement")';
                    }
                    else
                    {
                        //alert(data.message);
                        $.bsAlert.alert(data.message);
                    }
                },
                dataType: "json",
                traditional: true
            });
        }
        else
        {
            $.bsAlert.alert("Password don't match.");
            document.getElementById("txtnewPassword").value = "";
            document.getElementById("txtconfirmPassword").value = "";
            return false;
        }
    }

    //var Oclick = 1;
    var Nclick = 1;
    var Cclick = 1;

    //function showOPassW() {
    //    if (Oclick == "1") {
    //        document.getElementById('txtoldPassword').type = 'text';
    //        Oclick = Oclick + 1;
    //    }
    //    else {
    //        document.getElementById('txtoldPassword').type = 'password';
    //        Oclick = Oclick - 1;
    //    }
    //}

    function showNPassW() {
        if (Nclick == "1") {
            document.getElementById('txtnewPassword').type = 'text';
            document.getElementById("inew").className  = "fas fa-eye-slash";
            Nclick = Nclick + 1;
        }
        else {
            document.getElementById('txtnewPassword').type = 'password';
            document.getElementById("inew").className  = "fas fa-eye";
            Nclick = Nclick - 1;
        }
    }

    function showCPassW() {
        if (Cclick == "1") {
            document.getElementById('txtconfirmPassword').type = 'text';
            document.getElementById("iconfirm").className  = "fas fa-eye-slash";
            Cclick = Cclick + 1;
        }
        else {
            document.getElementById('txtconfirmPassword').type = 'password';
            document.getElementById("iconfirm").className  = "fas fa-eye";
            Cclick = Cclick - 1;
        }
    }

    //var defaultnew = (function setdefaultnew() {
    //    document.getElementById("txtnewPassword").value == null;
    //    document.getElementById("txtconfirmPassword").value == null;
    //}());

</script>