@model LavenderConfig.Models.Login;

@{
    ViewData["Title"] = "UserManagement";
    ViewData["SubTitle"] = "Edit User";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Edit User
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("HomePage", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("UserManagement", "UserManagement")">User Management</a></li>
                    <li class="breadcrumb-item active" style="text-decoration-line: underline; text-decoration-style: double;">@ViewData["SubTitle"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content container-fluid">
        @using (Html.BeginForm("E_UserManagement", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-primary">
                            @*<div class="card-header" style="background-color: #0f2b57;">*@
                                <!--<h3 class="card-title">Form</h3>-->
                            @*</div>*@
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form">
                                    <br>
                                    @Html.HiddenFor(x => x.user_id, new { id = "txtUserID" })
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.user_name, "Username: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.user_name, new { id = "txtUsername", required = "required", autofocus = "", placeholder = "User Name", @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <br>
                                    @*<div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.password, "Password: ")</div>
                                            <div class="col-md-2">
                                                @Html.TextBoxFor(model => model.password, new { id = "txtPassword", required = "required", placeholder = "User Password", @class = "form-control" })
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-block btn-outline-primary btn-sm" onclick="showPassW()">Show</button>
                                            </div>
                                        </div>
                                        <br>*@
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.role, "Role: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @*@Html.TextBoxFor(model => model.role, new { id = "txtRole", required = "required", placeholder = "User Role", @class = "form-control" })*@
                                            @Html.DropDownListFor(model => model.role, new List<SelectListItem>
                                            {
                                            new SelectListItem { Text="admin", Value="admin" },
                                            new SelectListItem { Text="user", Value="user" },
                                            new SelectListItem { Text="guest", Value="guest" }
                                            }, new { @class = "form-control", id = "ddlrole", @onchange = "roletohidden()", required = "required" })
                                            @Html.HiddenFor(model => model.role, new { id = "txtRole" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.department, "Department: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.department, new { id = "txtDepartment", placeholder = "User Department", @class = "form-control" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.enable, "Enable: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            <div class="custom-control custom-switch custom-switch-lg">
                                                @if (Model.enable == true)
                                                {
                                                    @Html.CheckBoxFor(model => model.enable, new { @id = "chkEnable", @checked = "checked", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="chkEnable"></label>
                                                }
                                                else
                                                {
                                                    @Html.CheckBoxFor(model => model.enable, new { @id = "chkEnable", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="chkEnable"></label>
                                                }
                                            </div>
                                            @*@Html.CheckBoxFor(model => model.enable, new { id = "chkEnable" })*@
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.activity_log, "Activity Log: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            <div class="custom-control custom-switch custom-switch-lg">
                                                @if (Model.activity_log == true)
                                                {
                                                    @Html.CheckBoxFor(model => model.activity_log, new { @id = "chkActivityLog", @checked = "checked", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="chkActivityLog"></label>
                                                }
                                                else
                                                {
                                                    @Html.CheckBoxFor(model => model.activity_log, new { @id = "chkActivityLog", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="chkActivityLog"></label>
                                                }
                                            </div>
                                            @*@Html.CheckBoxFor(model => model.activity_log, new { id = "chkActivityLog" })*@
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix" align="center">
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-block btn-outline-info btn-sm" id="btndel" name="btndel" value="btndel" onclick="requiredfunc(this.id)" @*onclick="sentdelete()"*@>Delete</button>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2" align="center">
                                            <button type="button" class="btn btn-block btn-success btn-sm" id="btnedi" name="btnedi" value="btnedi" onclick="requiredfunc(this.id)">Save</button>
                                        </div>
                                        <div class="col-md-2" align="center">
                                            @*<button type="button" class="btn btn-primary" onclick="sentupdate()">Save Edit</button>*@
                                            @Html.ActionLink("Cancel", "UserManagement", "UserManagement", null, new { @class = "btn btn-block btn-outline-primary btn-sm" })
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        }
        @*<div class="col-sm-2">
            @Html.ActionLink("Cancel", "UserManagement", "UserManagement", null, new { @class = "btn btn-block btn-outline-primary" })
        </div>
        <br>*@
    </div>
    <!-- /.divData -->
</section>

<script type="text/javascript">

    document.getElementById('txtPassword').type = 'password';

    var click = 1;

    function showPassW() {
        if (click == "1") {
            document.getElementById('txtPassword').type = 'text';
            click = click + 1;
        }
        else {
            document.getElementById('txtPassword').type = 'password';
            click = click - 1;
        }
    }

    function roletohidden() {
        var rolevalue = document.getElementById("ddlrole").value;
        document.getElementById('txtRole').value = rolevalue;
        console.log(rolevalue);
    }

    var defaultrole = (function setdefaultrole() {
        var rolevalue = document.getElementById("txtRole").value;
        document.getElementById("ddlrole").value = rolevalue;
        console.log(rolevalue);
    }());

    //function removeRequired() {
    //    $.bsAlert.confirm("Do you want to delete " + document.getElementById("txtUsername").value + " ?", function () {
    //        doRemove();
    //    });
    //}

    function requiredfunc(getbtnid) {
        var username = document.getElementById("txtUsername").value;

        if (getbtnid == "btndel") {
            $.bsAlert.confirm("Do you want to delete " + username + " ?", function () {
                doRemove();
            });
        }
        else if (getbtnid == "btnedi") {
            $.bsAlert.confirm("Do you want to update " + username + " ?", function () {
                sentupdate();
            });
        }
        else {

        }
    }

    function doRemove() {
        var input = document.getElementsByTagName("input").length;
        var select = document.getElementsByTagName("select").length;
        if (input > 0) {
            if (select > 0) {
                for (c = 0; c <= select - 1; c++) {
                    var checkatt = document.getElementsByTagName("select")[c].hasAttribute("required");
                    if (checkatt == true) {
                        document.getElementsByTagName("select")[c].removeAttribute("required");
                    }
                    else {
                    }
                }
            }
            else {
            }

            for (i = 0; i <= input - 1; i++) {
                var checkatt = document.getElementsByTagName("input")[i].hasAttribute("required");
                if (checkatt == true) {
                    document.getElementsByTagName("input")[i].removeAttribute("required");
                }
                else {
                }
            }
        }
        else {
        }
        sentdelete();
    }

    function sentdelete() {

        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtUserID").value;
        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../UserManagement/DeleteList",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("UserManagement", "UserManagement")';
                }
                else {

                }
            },
            dataType: "json",
            traditional: true
        });
    }

    function sentupdate() {
        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtUserID").value;
        stringArray[1] = document.getElementById("txtRole").value;
        stringArray[2] = document.getElementById("txtDepartment").value;
        if (document.getElementById('chkEnable').checked)
        {
            stringArray[3] = true;
        }
        else
        {
            stringArray[3] = false;
        }
        if (document.getElementById('chkActivityLog').checked)
        {
            stringArray[4] = true;
        }
        else
        {
            stringArray[4] = false;
        }
        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../UserManagement/UpdateList",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("UserManagement", "UserManagement")';
                }
                else {

                }
            },
            dataType: "json",
            traditional: true
        });
    }

</script>