@model LavenderConfig.Models.Loops;

@{
    ViewData["Title"] = "DeviceConfig";
    ViewData["SubTitle"] = "Edit Device Configuration";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Edit Device Configuration
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("HomePage", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("DeviceConfig", "DeviceConfig")">Device Configuration</a></li>
                    <li class="breadcrumb-item active" style="text-decoration-line: underline; text-decoration-style: double;">@ViewData["SubTitle"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content container-fluid">
        @using (Html.BeginForm("E_DeviceCon", "DeviceConfig", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-primary">
                            <div class="card-body">
                                <form role="form">
                                    <br>
                                    @if (ViewBag.DeviceType == "D") // Dispenser
                                    {
                                        @Html.HiddenFor(x => x.loop_id, new { id = "txtloopidDis" })
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.loop_name, "Loop Name: ", new { @class = "normalweight", id = "lblloopname" })</div>
                                            <div class="custom-control custom-radio custom-control-inline" style="margin-left:0.5%">
                                                @Html.RadioButtonFor(model => model.loop_id, "COM", new { id = "rdbom1", name = "devicetype", @class = "custom-control-input", @onclick = "clickcom()" })
                                                @Html.Label("rdbom1", "COM", new { @class = "custom-control-label normalweight" })
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                @Html.RadioButtonFor(model => model.loop_id, "LAV-LOOP", new { id = "rdbom2", name = "devicetype", @class = "custom-control-input", @onclick = "clickusb()" })
                                                @Html.Label("rdbom2", "LAV-LOOP", new { @class = "custom-control-label normalweight" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.loop_name, new { id = "txtloopname", required = "required", autofocus = "", placeholder = "Loop Name", @class = "form-control" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.loop_type, "Loop Type: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("ddllooptype", new SelectList(ViewBag.looptypeindevcon, "looptype_id", "name")
                                                , new { @class = "form-control", @onchange = "looptypetohidden()" })
                                                @Html.HiddenFor(model => model.loop_type, new { id = "txtlooptype" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.protocol_id, "Protocol: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("ddlprotocol", new SelectList(ViewBag.protocolindevcon, "protocol_id", "protocol_name")
                                                , new { @class = "form-control", @onchange = "protocoltohidden()" })
                                                @Html.HiddenFor(model => model.protocol_id, new { id = "txtprotocol" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.baudrate, "Baudrate(kbps): ", new { @class = "normalweight", id = "lblbauport" })</div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.baudrate, new { id = "txtbaudrate", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.read_timeout, "Connection Timeout: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.read_timeout, new { id = "txtread", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.read_timeout, new { id = "txtread", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                                @* @Html.HiddenFor(model => model.time_delay, new { id = "txttimedelay" }) *@
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.readdata_timeout, "Response Timeout: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.readdata_timeout, new { id = "txtreaddata", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.readdata_timeout, new { id = "txtreaddata", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.time_delay, "Delay Time: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.time_delay, new { id = "txttimedelay", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.time_delay, new { id = "txttimedelay", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        @if (ViewBag.userrole != "guest")
                                        {
                                            <br>
                                            <div class="row clearfix" align="center">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-block btn-outline-info btn-sm" id="btndelD" name="btndelD" value="btndelD" onclick="requiredfunc(this.id)">Delete</button>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2" align="center">
                                                    <button type="button" class="btn btn-block btn-success btn-sm" id="btnediD" name="btnediD" value="btnediD" onclick="requiredfunc(this.id)">Save</button>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    @Html.ActionLink("Cancel", "DeviceConfig", "DeviceConfig", null, new { @class = "btn btn-block btn-outline-primary btn-sm" })
                                                </div>
                                            </div>
                                        }
                                    }
                                    else // Tank Gauge
                                    {
                                        @Html.HiddenFor(x => x.loop_id, new { id = "txtloopid" })
                                        
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.loop_name, "Loop Name: ", new { @class = "normalweight", id = "lblloopname" })</div>
                                            <div class="custom-control custom-radio custom-control-inline" style="margin-left:0.5%">
                                                @Html.RadioButtonFor(model => model.loop_id, "COM", new { id = "rdbom1", name = "devicetype", @class = "custom-control-input", @onclick = "clickcom()" })
                                                @Html.Label("rdbom1", "COM", new { @class = "custom-control-label normalweight" })
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                @Html.RadioButtonFor(model => model.loop_id, "LAV-LOOP", new { id = "rdbom2", name = "devicetype", @class = "custom-control-input", @onclick = "clickusb()" })
                                                @Html.Label("rdbom2", "LAV-LOOP", new { @class = "custom-control-label normalweight" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.loop_name, new { id = "txtloopname", required = "required", autofocus = "", placeholder = "Loop Name", @class = "form-control" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.loop_type, "Loop Type: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("ddllooptype", new SelectList(ViewBag.looptypeindevcon, "looptype_id", "name")
                                                , new { @class = "form-control", @onchange = "looptypetohidden()" })
                                                @Html.HiddenFor(model => model.loop_type, new { id = "txtlooptype" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.protocol_id, "Protocol: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("ddlprotocol", new SelectList(ViewBag.protocolindevcon, "protocol_id", "protocol_name")
                                                , new { @class = "form-control", @onchange = "protocoltohidden()" })
                                                @Html.HiddenFor(model => model.protocol_id, new { id = "txtprotocol" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.baudrate, "Baudrate(kbps): ", new { @class = "normalweight", id = "lblbauport" })</div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.baudrate, new { id = "txtbaudrate", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.read_timeout, "Connection Timeout: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.read_timeout, new { id = "txtread", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.read_timeout, new { id = "txtread", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                                @* @Html.HiddenFor(model => model.time_delay, new { id = "txttimedelay" }) *@
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.readdata_timeout, "Response Timeout: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.readdata_timeout, new { id = "txtreaddata", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.readdata_timeout, new { id = "txtreaddata", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row clearfix">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">@Html.LabelFor(model => model.time_delay, "Delay Time: ", new { @class = "normalweight" })</div>
                                            <div class="col-md-3">
                                                @if (ViewBag.userrole == "admin")
                                                {
                                                    @Html.TextBoxFor(model => model.time_delay, new { id = "txttimedelay", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.time_delay, new { id = "txttimedelay", required = "required", placeholder = "Number Only", @type = "number", min = 0, @class = "form-control", @disabled = "disabled" })
                                                }
                                            </div>
                                        </div>
                                        <br>
                                        int count = 1;
                                        @for (int i = 0; i < ViewBag.TGFindevcon.Count; i++)
                                        {
                                            <div class="row clearfix">
                                                <div class="col-md-1"></div>
                                                @if (i == 0)
                                                {
                                                    <div class="col-md-4">Options: </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4"></div>
                                                }
                                                <div class="col-md-3">
                                                    <div class="custom-control custom-switch custom-switch-lg">
                                                        @if (ViewBag.TGFindevcon[i].enable == true)
                                                        {
                                                            @Html.CheckBox("chkTGF_" + count, (bool)ViewBag.TGFindevcon[i].enable, new { @id = "chkTGF_" + count, @checked = "checked", @class = "custom-control-input" })

                                                            <label class="custom-control-label normalweight" for="chkTGF_@count">
                                                                @ViewBag.TGFindevcon[i].group
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox("chkTGF_" + count, (bool)ViewBag.TGFindevcon[i].enable, new { @id = "chkTGF_" + count, @class = "custom-control-input" })

                                                            <label class="custom-control-label normalweight" for="chkTGF_@count">
                                                                @ViewBag.TGFindevcon[i].group
                                                            </label>
                                                        }
                                                        <br>
                                                        @{
                                                            count++;
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.userrole != "guest")
                                        {
                                            <div class="row clearfix" align="center">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-block btn-outline-info btn-sm" id="btndelTG" name="btndelTG" value="btndelTG" onclick="requiredfunc(this.id)">Delete</button>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2" align="center">
                                                    <button type="button" class="btn btn-block btn-success btn-sm" id="btnediTG" name="btnediTG" value="btnediTG" onclick="requiredfunc(this.id)">Save</button>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    @Html.ActionLink("Cancel", "DeviceConfig", "DeviceConfig", null, new { @class = "btn btn-block btn-outline-primary btn-sm" })
                                                </div>
                                            </div>
                                        }
                                    }
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        }
</section>
<script src="~/bower_components/jquery/jquery.min.js"></script>

<script type="text/javascript">

    function looptypetohidden() {
        var looptypevalue = document.getElementById("ddllooptype").value;
        document.getElementById('txtlooptype').value = looptypevalue;

        document.getElementById('ddlprotocol').options.length = 0;

        var ddl = document.getElementById("ddlprotocol");

        var jsonObj = @Html.Raw(Json.Serialize(ViewBag.protocolindevcon));

        if (looptypevalue == 2)
        {
            for (i = 0; i < jsonObj.length; i++)
            {
                if (jsonObj[i].protocol_type == 1)
                {
                    var option = document.createElement('option');
                    option.text = jsonObj[i].protocol_name;
                    option.value = jsonObj[i].protocol_id;
                    ddl.add(option);
                }
                else
                {

                }
            }
        }
        else
        {
            for (i = 0; i < jsonObj.length; i++)
            {
                if (jsonObj[i].protocol_type == 1)
                {

                }
                else
                {
                    var option = document.createElement('option');
                    option.text = jsonObj[i].protocol_name;
                    option.value = jsonObj[i].protocol_id;
                    ddl.add(option);
                }
            }
        }
        var newprotocolvalue = document.getElementById("ddlprotocol").options[0].value;
        document.getElementById('txtprotocol').value = newprotocolvalue;

        getBaudrateAndTimeout();
    }

    var defaultlooptype = (function setdefaultlooptype() {
        var looptypevalue = document.getElementById("txtlooptype").value;
        document.getElementById("ddllooptype").value = looptypevalue;
    }());

    function protocoltohidden() {
        var protocolvalue = document.getElementById("ddlprotocol").value;
        document.getElementById('txtprotocol').value = protocolvalue;

        getBaudrateAndTimeout();
    }

    var defaultprotocol = (function setdefaultprotocol() {
        var protocolvalue = document.getElementById("txtprotocol").value;
        document.getElementById("ddlprotocol").value = protocolvalue;
    }());

    var defaultnewprotocol = (function setdefaultnewprotocol() {
        var looptypevalue = document.getElementById("ddllooptype").value;
        var protocolvalue = document.getElementById("ddlprotocol").value;

        document.getElementById('ddlprotocol').options.length = 0;

        var ddl = document.getElementById("ddlprotocol");
        var jsonObj = @Html.Raw(Json.Serialize(ViewBag.protocolindevcon));

        if (looptypevalue == 2)
        {
            for (i = 0; i < jsonObj.length; i++)
            {
                if (jsonObj[i].protocol_type == 1)
                {
                    var option = document.createElement('option');
                    option.text = jsonObj[i].protocol_name;
                    option.value = jsonObj[i].protocol_id;
                    ddl.add(option);
                }
                else
                {

                }
            }
        }
        else
        {
            for (i = 0; i < jsonObj.length; i++)
            {
                if (jsonObj[i].protocol_type == 1)
                {

                }
                else
                {
                    var option = document.createElement('option');
                    option.text = jsonObj[i].protocol_name;
                    option.value = jsonObj[i].protocol_id;
                    ddl.add(option);
                }
            }
        }
        document.getElementById("ddlprotocol").value = protocolvalue;
        document.getElementById('txtprotocol').value = protocolvalue;
    }());

    function sentupdateTG() {

        var com = document.getElementById("rdbom1").checked;
        var usb = document.getElementById("rdbom2").checked;

        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtloopid").value;

        if (com == true) {
            stringArray[1] = "COM " + document.getElementById("txtloopname").value;

        }
        else if (usb == true) {
            stringArray[1] = "LAV-LOOP " + document.getElementById("txtloopname").value;
        }
        else
        {
            $.bsAlert.alert("Please Choose COM or LAV-LOOP.");
            return false;
        }

        stringArray[2] = document.getElementById("txtlooptype").value;
        stringArray[3] = document.getElementById("txtprotocol").value;
        
        var regexnumbers = /^[0-9]+$/;
        var regexipaddress = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
        
        if (document.getElementById("txtloopname").value == null || document.getElementById("txtloopname").value == "")
        {
            $.bsAlert.alert("Please fill Loop Name.");
            return false;
        }
        else
        {
            if (document.getElementById("txtloopname").value >= 0 && document.getElementById("txtloopname").value.match(regexnumbers)) {

            }
            else {
                $.bsAlert.alert("Loop Name is a number and no less than 0.");
                document.getElementById("txtloopname").value = null;
                return false;
            }
        }

        if (document.getElementById("txtbaudrate").value >= 0 && document.getElementById("txtbaudrate").value.match(regexnumbers))
        {
            stringArray[4] = document.getElementById("txtbaudrate").value;
        }
        else
        {
            $.bsAlert.alert("Baudrate is a number and no less than 0.");
            
            document.getElementById("txtbaudrate").value = null;
            return false;
        }

        if (document.getElementById("txtread").value >= 0 && document.getElementById("txtread").value.match(regexnumbers))
        {
            stringArray[5] = document.getElementById("txtread").value;
        }
        else
        {
            $.bsAlert.alert("Read Timeout is a number and no less than 0.");
            document.getElementById("txtread").value = null;
            return false;
        }

        if (document.getElementById("txtreaddata").value >= 0 && document.getElementById("txtreaddata").value.match(regexnumbers))
        {
            stringArray[6] = document.getElementById("txtreaddata").value;
        }
        else
        {
            $.bsAlert.alert("Readdata Timeout is a number and no less than 0.");
            document.getElementById("txtreaddata").value = null;
            return false;
        }

        if (document.getElementById("txttimedelay").value != null || document.getElementById("txttimedelay").value != undefined)
        {
            stringArray[7] = document.getElementById("txttimedelay").value;
        }else
        {
            stringArray[7] = "0";
        }
        
    
        var jsonObj = @Html.Raw(Json.Serialize(ViewBag.TGFindevcon));
        var arraynum = 8;

        for (i = 0 ; i <= jsonObj.length; i++)
        {
            @* ////////////sent options/////////// *@

            var tgnum = i + 1;
            var tgname = "chkTGF_" + tgnum;
            var options =  document.getElementById(tgname);

            if (typeof(options) != 'undefined' && options != null)
            {
                if (options.checked){
                    stringArray[arraynum] = "true";
                }else{
                    stringArray[arraynum] = "false";
                }
            }
            
            arraynum += 1;
        }       

        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../DeviceConfig/SaveDevConTG",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("DeviceConfig", "DeviceConfig")';
                }
                else
                {
                }
            },
            dataType: "json",
            traditional: true
        });
    }

    function requiredfunc(getbtnid) {
        var username = document.getElementById("txtloopname").value;
        var com = document.getElementById("rdbom1").checked;
        var usb = document.getElementById("rdbom2").checked;
        var checktype = null;

        if (com == true) {
            checktype = "COM ";
        }
        else if (usb == true) {
            checktype = "LAV-LOOP ";
        }
        else {
            $.bsAlert.alert("Please Choose COM or LAV-LOOP.");
            return false;
        }

        if (getbtnid == "btndelD") {
            $.bsAlert.confirm("Do you want to delete " + checktype + username + " ?", function () {
                doRemoveD();
            });
        }
        else if (getbtnid == "btnediD") {
            $.bsAlert.confirm("Do you want to update " + checktype + username + " ?", function () {
                sentupdateD();
            });
        }
        else if (getbtnid == "btndelTG") {
            $.bsAlert.confirm("Do you want to delete " + checktype + username + " ?", function () {
                doRemoveTG();
            });
        }
        else if (getbtnid == "btnediTG") {
            $.bsAlert.confirm("Do you want to update " + checktype + username + " ?", function () {
                sentupdateTG();
            });
        }
        else {

        }
    }

    function doRemoveD() {
        var input = document.getElementsByTagName("input").length;
        var select = document.getElementsByTagName("select").length;
        if (input > 0) {
            if (select > 0) {
                for (c = 0; c <= select - 1; c++) {
                    var checkatt = document.getElementsByTagName("select")[c].hasAttribute("required");
                    if (checkatt == true) {
                        document.getElementsByTagName("select")[c].removeAttribute("required");
                    }
                    else {
                    }
                }
            }
            else {
            }

            for (i = 0; i <= input - 1; i++) {
                var checkatt = document.getElementsByTagName("input")[i].hasAttribute("required");
                if (checkatt == true) {
                    document.getElementsByTagName("input")[i].removeAttribute("required");
                }
                else {
                }
            }
        }
        else {
        }
        sentdeleteD();
    }

     function sentdeleteD() {
        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtloopidDis").value;
        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../DeviceConfig/DeleteListD",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("DeviceConfig", "DeviceConfig")';
                }
                else {

                }
            },
            dataType: "json",
            traditional: true
        });
    }

    function doRemoveTG() {
        var input = document.getElementsByTagName("input").length;
        var select = document.getElementsByTagName("select").length;
        if (input > 0) {
            if (select > 0) {
                for (c = 0; c <= select - 1; c++) {
                    var checkatt = document.getElementsByTagName("select")[c].hasAttribute("required");
                    if (checkatt == true) {
                        document.getElementsByTagName("select")[c].removeAttribute("required");
                    }
                    else {
                    }
                }
            }
            else {
            }

            for (i = 0; i <= input - 1; i++) {
                var checkatt = document.getElementsByTagName("input")[i].hasAttribute("required");
                if (checkatt == true) {
                    document.getElementsByTagName("input")[i].removeAttribute("required");
                }
                else {
                }
            }
        }
        else {
        }
        sentdeleteTG();
    }

     function sentdeleteTG() {
        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtloopid").value;
        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../DeviceConfig/DeleteListTG",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("DeviceConfig", "DeviceConfig")';
                }
                else {

                }
            },
            dataType: "json",
            traditional: true
        });
    }

    function sentupdateD() {

        var com = document.getElementById("rdbom1").checked;
        var usb = document.getElementById("rdbom2").checked;

        var stringArray = new Array();
        stringArray[0] = document.getElementById("txtloopidDis").value;

        if (com == true) {
            stringArray[1] = "COM " + document.getElementById("txtloopname").value;
        }
        else if (usb == true) {
            stringArray[1] = "LAV-LOOP " + document.getElementById("txtloopname").value;
        }
        else {
            $.bsAlert.alert("Please Choose COM or LAV-LOOP.");
            return false;
        }

        stringArray[2] = document.getElementById("txtlooptype").value;
        stringArray[3] = document.getElementById("txtprotocol").value;

        var regexnumbers = /^[0-9]+$/;
        var regexipaddress = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;

        if (document.getElementById("txtloopname").value == null || document.getElementById("txtloopname").value == "")
        {
            $.bsAlert.alert("Please fill Loop Name.");
            return false;
        }
        else
        {
            if (document.getElementById("txtloopname").value >= 0 && document.getElementById("txtloopname").value.match(regexnumbers))
            {
                    
            }
            else
            {
                $.bsAlert.alert("Loop Name is a number and no less than 0.");
                document.getElementById("txtloopname").value = null;
                return false;
            }
        }

        if (document.getElementById("txtbaudrate").value >= 0 && document.getElementById("txtbaudrate").value.match(regexnumbers))
        {
            stringArray[4] = document.getElementById("txtbaudrate").value;
        }
        else
        {
            $.bsAlert.alert("Baudrate is a number and no less than 0.");

            document.getElementById("txtbaudrate").value = null;
            return false;
        }

        if (document.getElementById("txtread").value >= 0 && document.getElementById("txtread").value.match(regexnumbers))
        {
            stringArray[5] = document.getElementById("txtread").value;
        }
        else
        {
            $.bsAlert.alert("Read Timeout is a number and no less than 0.");
            document.getElementById("txtread").value = null;
            return false;
        }

        if (document.getElementById("txtreaddata").value >= 0 && document.getElementById("txtreaddata").value.match(regexnumbers))
        {
            stringArray[6] = document.getElementById("txtreaddata").value;
        }
        else
        {
            $.bsAlert.alert("Readdata Timeout is a number and no less than 0.");
            document.getElementById("txtreaddata").value = null;
            return false;
        }

        if (document.getElementById("txttimedelay").value != null || document.getElementById("txttimedelay").value != undefined)
        {
            stringArray[7] = document.getElementById("txttimedelay").value;
        }else
        {
            stringArray[7] = "0";
        }


        var postData = { values: stringArray };

        $.ajax({
            type: "POST",
            url: "../../DeviceConfig/SaveDevConD",
            data: postData,
            success: function (data) {
                if (data.status == true) {
                    window.location.href = '@Url.Action("DeviceConfig", "DeviceConfig")';
                }
                else
                {
                    
                }
            },
            dataType: "json",
            traditional: true
        });
    }

    function clickcom() {
        document.getElementById("txtloopname").placeholder = "Loop Name";
        document.getElementById("txtloopname").value = "";
        document.getElementById("txtloopname").pattern = "";
        document.getElementById('lblloopname').innerHTML = "Loop Name:";
        document.getElementById("txtbaudrate").value = "";
        document.getElementById('lblbauport').innerHTML = "Baudrate(kbps):";

        getBaudrateAndTimeout();
    }

    function clickusb() {
        document.getElementById("txtloopname").placeholder = "Loop Name";
        document.getElementById("txtloopname").value = "";
        document.getElementById("txtloopname").pattern = "";
        document.getElementById('lblloopname').innerHTML = "Loop Name:";
        document.getElementById("txtbaudrate").value = "";
        document.getElementById('lblbauport').innerHTML = "Baudrate(kbps):";

        getBaudrateAndTimeout();
    }

    var defaultdevice = (function setdefaultdevice() {
        var devicevalue = "@ViewBag.typetomodel";
        var type = devicevalue.split(" ");

        if (type[0] == "COM")
        {
            document.getElementById("rdbom1").checked = true;
            document.getElementById("txtloopname").placeholder = "Loop Name";
            document.getElementById("txtloopname").pattern = "";
            document.getElementById('lblloopname').innerHTML = "Loop Name:";
            document.getElementById('lblbauport').innerHTML = "Baudrate(kbps):";
        }
        else if (type[0] == "USB" || type[0] == "LAV-LOOP")
        {
            document.getElementById("rdbom2").checked = true;
            document.getElementById("txtloopname").placeholder = "Loop Name";
            document.getElementById("txtloopname").pattern = "";
            document.getElementById('lblloopname').innerHTML = "Loop Name:";
            document.getElementById('lblbauport').innerHTML = "Baudrate(kbps):";
        }
        else
        {
        }

        document.getElementById("txtloopname").value = "" + type[1];
    }());

    function getBaudrateAndTimeout() {
        var ddlprotocol = document.getElementById("ddlprotocol");
        var ddlprotocol_id = ddlprotocol.options[ddlprotocol.selectedIndex].value;

        if (ddlprotocol_id == "1") { //Gilbarco
            document.getElementById("txtread").value = 300;
            document.getElementById("txtreaddata").value = 800;
            document.getElementById("txtbaudrate").value = 5787;
            document.getElementById("txttimedelay").value = 80;
        }
        else if (ddlprotocol_id == "2") { //Veeder Root
            document.getElementById("txtread").value = 700;
            document.getElementById("txtreaddata").value = 1500;
            document.getElementById("txtbaudrate").value = 9600;
            document.getElementById("txttimedelay").value = 1000;
        }
        else if (ddlprotocol_id == "3") { //Tatsuno
            document.getElementById("txtread").value = 300;
            document.getElementById("txtreaddata").value = 800;
            document.getElementById("txtbaudrate").value = 19200;
            document.getElementById("txttimedelay").value = 20;
        }
        else if (ddlprotocol_id == "6" || ddlprotocol_id == "7") { //Wayne or Mepsan
            document.getElementById("txtread").value = 300;
            document.getElementById("txtreaddata").value = 800;
            document.getElementById("txtbaudrate").value = 9600;
            document.getElementById("txttimedelay").value = 40;
        }
        else if (ddlprotocol_id == "8") { //Tokheim
            document.getElementById("txtread").value = 300;
            document.getElementById("txtreaddata").value = 800;
            document.getElementById("txtbaudrate").value = 9600;
            document.getElementById("txttimedelay").value = 40;
        } 
        else {
            document.getElementById("txtread").value = 0;
            document.getElementById("txtreaddata").value = 0;
            document.getElementById("txtbaudrate").value = 0;
            document.getElementById("txttimedelay").value = 0;
        }
    }

</script>