@model LavenderConfig.Models.AddGradeModel;

@{
    ViewData["Title"] = "Grade";
    ViewData["SubTitle"] = "Create Grade";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Create Grade
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("HomePage", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("Grade", "Grade")">@ViewData["Title"]</a></li>
                    <li class="breadcrumb-item active" style="text-decoration-line: underline; text-decoration-style: double;">@ViewData["SubTitle"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content container-fluid">

        @using (Html.BeginForm("A_Grade", "Grade", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-primary">
                            <div class="card-body">
                                <form role="form">
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.grade_name, "Grade Name: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.grade_name, new { id = "txtGradeName", required = "required", autofocus = "", placeholder = "Grade Name", @class = "form-control" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.material_id, "Material Code: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.material_id, new { id = "txtMatCode", required = "required", placeholder = "Number Only", @type = "number", min = 0, max = 99999999, @class = "form-control" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.price_level_1, "Price Level 1: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.price_level_1, new { id = "txtPriceOne", required = "required", placeholder = "Number Only", @type = "number", @step = "0.01", min = 0, @class = "form-control" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.price_level_2, "Price Level 2: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.price_level_2, new { id = "txtPriceTwo", placeholder = "Number Only", @type = "number", @step = "0.01", min = 0, @class = "form-control" })
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">@Html.LabelFor(model => model.enable, "Enable: ", new { @class = "normalweight" })</div>
                                        <div class="col-md-3">
                                            <div class="custom-control custom-switch custom-switch-lg">
                                                @Html.CheckBoxFor(model => model.enable, new { @id = "chkEnable", @checked = "checked", @class = "custom-control-input" })
                                                <label class="custom-control-label" for="chkEnable"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2" align="center">
                                            <button type="submit" class="btn btn-block btn-success btn-sm" value="A_Grade">Create</button>
                                        </div>
                                        <div class="col-md-2">
                                            @Html.ActionLink("Cancel", "Grade", "Grade", null, new { @class = "btn btn-block btn-outline-primary btn-sm" })
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        }
</section>

<script type="text/javascript">
    var defaultchk = (function defaultchk() {
        document.getElementById("chkEnable").checked = true;
    }());
</script>