@*model IEnumerable<LavenderConfig.Models.Grades>*@

@using LavenderConfig.Models
@model Tuple<List<Grades>, List<PriceProfiles>>
@*@model Tuple<Grades,PriceProfiles>*@

@{
    ViewData["Title"] = "Grade";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Grade</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a class="changetextcolor" href="@Url.Action("HomePage", "Home")">Home</a></li>
                    <li class="breadcrumb-item active" style="text-decoration-line: underline; text-decoration-style: double;">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    @*@if (ViewBag.userrole != "guest")
    {
        <div class="col-sm-2">
            @Html.ActionLink("Create New", "A_Grade", "Grade", null, new { @class = "btn btn-block btn-outline-primary" })
        </div>
        <br>
    }*@

        <div class="row">
            <div class="col-12">
                <div class="card">
                    @if (ViewBag.userrole != "guest")
                    {
                        <div class="card-header">
                            @*<h3 class="card-title">Grade</h3>*@
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    @Html.ActionLink("Create Grade", "A_Grade", "Grade", null, new { @class = "btn btn-block btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable text-nowrap" role="grid" style="width: 60%; margin:0 auto">
                            <thead>
                                <tr>
                                    @*<th class="text-center" style="width: 10%;">ID</th>*@
                                    <th class="text-center" style="width: 15%;">Grade Name</th>
                                    <th class="text-center" style="width: 15%;">Grade Color</th>
                                    <th class="text-center" style="width: 15%;">Price Level 1</th>
                                    <th class="text-center" style="width: 15%;">Price Level 2</th>
                                    <th class="text-center" style="width: 10%;">Enable</th>
                                    <th class="text-center" style="width: 10%;">Settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countmodel = @Model.Item1.Count();
                                }
                                @if (countmodel > 0)
                                {
                                    @foreach (var item in Model.Item1)
                                    {
                                        @foreach (var itemj in Model.Item2.Where(i => i.profile_id == item.price_profile_id))
                                        {
                                            <tr>
                                                @*<td class="text-center">@item.grade_id</td>*@
                                                <td class="text-center">@item.grade_name</td>
                                                <td bgcolor="@item.product_color"></td>
                                                <td class="text-center">@itemj.price_level_1.ToString("0.00")</td>
                                                @if (itemj.price_level_2 != null)
                                                {
                                                    <td class="text-center">@itemj.price_level_2.Value.ToString("0.00")</td>
                                                }
                                                else 
                                                {
                                                    <td class="text-center">-</td>
                                                }
                                                <td class="text-center">
                                                    <div class="custom-control custom-switch" style="padding-left: 107%">
                                                        @if (@itemj.enable == true)
                                                        {
                                                            @Html.CheckBoxFor(model => itemj.enable, new { @id = "customSwitch1", @class = "custom-control-input", @checked = "checked", @disabled = "disabled" })
                                                            <label class="custom-control-label" for="customSwitch1"></label>
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => itemj.enable, new { @id = "customSwitch1", @class = "custom-control-input", @disabled = "disabled" })
                                                            <label class="custom-control-label" for="customSwitch1"></label>
                                                        }
                                                    </div>
                                                </td>
                                                @*<td>@Html.ActionLink("Details", "E_Grade", "Grade", new { ID = @item.grade_id, price = @item.price_profile_id }, new { ID = @item.grade_id, price = @item.price_profile_id, @class = "btn btn-block btn-outline-primary btn-sm" })</td>*@
                                                <td class="text-center">
                                                @if (ViewBag.userrole != "guest")
                                                {
                                                    @Html.ActionLink("", "E_Grade", "Grade", new { ID = @item.grade_id, price = @item.price_profile_id }, new { ID = @item.grade_id, price = @item.price_profile_id, @class = "fas fa-cog changetextcolor", title = "Settings" })
                                                }
                                                else 
                                                {
                                                    <span>-</span>
                                                }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->


@if (ViewBag.grademessage == null || ViewBag.grademessage == "")
{
}
else
{
    if (ViewBag.perpage == "1")
    {
        <script type="text/javascript">
            window.onload = function () {
               @*alert("@ViewBag.grademessage");*@
                $.bsAlert.alert("@ViewBag.grademessage");
            };
        </script>
    }
}